@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.body {
    background-color: #faf8f3;
}

.loader {
    width: 30px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: black;
    --_m:
            conic-gradient(#0000 10%,#000),
            linear-gradient(#000, #000) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.HomePage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 270px;
    font-family: "Inter", serif;
    font-size: 20px;
}